/* .app {
    height: 100vh; 
} */

.header {
    height: 5%;
    background-color: #00091a;
    text-align: center;
    position: relative;
    color: whitesmoke;
}

.header p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .body {
    overflow-y: scroll;
} */

.footer {
    height: 5%;
    background-color: #00091a;
    text-align: center;
    position: relative;
    color: whitesmoke;
}

.footer p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid {
    height: 120%;
}

.gridBody {
    background-color: rgba(255, 255, 255, 0.8);     
}

.feedDiv {
    margin: 20px;    
}

::-webkit-scrollbar {
    width: 10px;
}

.tweetsDiv {
    margin-top: 50px;
    overflow-y: scroll;  
    height: 80vh; 
}

.link {
    text-decoration: none;
    font-weight: normal;
    color: black;
}

.line {
    border: 1px solid rgba(0, 0, 0, 0.5);
}