.dialog {    
    z-index: 1;
}

.dialogBody {
    padding: 25px;    
    width: 400px;
}

.title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.text {
    width: 100%;    
}

.buttonsDiv {   
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}